body {
	background-color:#aaa;
	margin: 1%;
}

#webgl > canvas {
	position: absolute; /* Position absolue */
	top: 50%; /* Positionnement horizontal */
	left: 50%; /* Positionnement vertical */
	transform: translate(-50%, -50%); /* Translation pour centrer l'élément */
}